<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jp.ac.metro-cit.hkob.notion-tools</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>109F7B98-1B50-45E9-93AC-8EE2D7A9B307</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4E5449E-A742-47CB-A3A2-F4E9362AD586</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>179DB1E1-4193-4939-9015-E4B3BEC1F766</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>229C8F99-A31E-4368-A378-81F236AB5DEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42AFF988-4DA6-4786-99E3-C5EC85080649</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A1F544E-EAEB-4064-B190-7670A658E100</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A1C7AEEB-61E7-4954-B62D-E5504ED9163B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4913E118-B191-4D22-B13E-A60479260EAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9310A4D8-6A98-45BF-9C3A-7615A6F8F676</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A1F544E-EAEB-4064-B190-7670A658E100</key>
		<array/>
		<key>7240DA87-170B-46B0-AE62-9644EAB45235</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E873DFD9-DC70-4FCF-9EBC-489273022A19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88054947-FDE2-476E-BAD7-5A9F9F0BA79C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4E5449E-A742-47CB-A3A2-F4E9362AD586</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8ABD91CC-318D-4890-8DCB-DBD6C5146CE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0DA159D-38BC-4FDF-B872-6AF1E7BFE8D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9310A4D8-6A98-45BF-9C3A-7615A6F8F676</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42AFF988-4DA6-4786-99E3-C5EC85080649</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>111C397D-E270-4C4E-8D77-66B8B5F9A492</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A1C7AEEB-61E7-4954-B62D-E5504ED9163B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95FAD422-27BE-4B77-8FBD-278BD0127FAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>109F7B98-1B50-45E9-93AC-8EE2D7A9B307</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Reload projects</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B157274C-527D-4275-AC22-140AF6107B4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>63E046F8-DB94-4C69-AE21-FDCDDA7328FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>974C04C3-7DD4-4D16-9F3B-46AEAB66E62C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F5F9393-8DEA-432A-BA7D-E815860CB043</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98D6EF53-6220-4AFA-ABC3-036B991F92E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4913E118-B191-4D22-B13E-A60479260EAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99BC79F5-A107-4680-9A2F-E97B5EE74552</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD2BA461-762A-44AC-B66B-577DB58B5C4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DE5332BA-0034-4B16-B474-A08BE2D470F5</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Finish the task</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B157274C-527D-4275-AC22-140AF6107B4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4E5449E-A742-47CB-A3A2-F4E9362AD586</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4E5449E-A742-47CB-A3A2-F4E9362AD586</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>179DB1E1-4193-4939-9015-E4B3BEC1F766</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C749A559-FC7D-4E9D-9ED0-9D0B0411F3A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC7EF1C8-7C6E-40A5-A92D-745F89931619</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0DA159D-38BC-4FDF-B872-6AF1E7BFE8D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>229C8F99-A31E-4368-A378-81F236AB5DEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D574066D-AA28-4A0F-9A28-9B4B22595530</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4E5449E-A742-47CB-A3A2-F4E9362AD586</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7E27BDA-6347-4198-B311-2BDEB815CE16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63E046F8-DB94-4C69-AE21-FDCDDA7328FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>88054947-FDE2-476E-BAD7-5A9F9F0BA79C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D574066D-AA28-4A0F-9A28-9B4B22595530</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Reload projects</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD2BA461-762A-44AC-B66B-577DB58B5C4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>974C04C3-7DD4-4D16-9F3B-46AEAB66E62C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD59D32A-1370-4CCE-B278-FE2F45AE661D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE5332BA-0034-4B16-B474-A08BE2D470F5</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Finish the task</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>98D6EF53-6220-4AFA-ABC3-036B991F92E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hiroyuki KOBAYASHI</string>
	<key>description</key>
	<string>Some workflows for Notion</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notion tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>calendar</key>
					<string>false</string>
					<key>input</key>
					<string>{query}</string>
					<key>reload</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>109F7B98-1B50-45E9-93AC-8EE2D7A9B307</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>an</string>
				<key>subtext</key>
				<string>text date start_time end_time: date, start_time and end_time are optional</string>
				<key>text</key>
				<string>Add Notion Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>95FAD422-27BE-4B77-8FBD-278BD0127FAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>calendar</key>
					<string>false</string>
					<key>input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B157274C-527D-4275-AC22-140AF6107B4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require './notion.rb'

project_id = ARGV[0]

date = nil
end_time = nil
start_time = nil
words = ENV["input"].split " "

end_time = (words.pop + MY_TZ) if words[-1] =~ /\d+:\d+/
if end_time
  start_time = (words.pop + MY_TZ) if words[-1] =~ /\d+:\d+/
  unless start_time
    start_time = end_time
    end_time = nil
  end
end

begin
  date = Date.parse words[-1]
  # If the above Date.parse was success, the last parameter will remove.
  words.pop
rescue
end
date ||= Date.today

datetime = {start: [date, start_time].compact.join(" ")}
datetime[:end] = [date, end_time].join(" ") if end_time
summary = words.join " "
result = create_task(summary, datetime, project_id)
print result["id"]</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>179DB1E1-4193-4939-9015-E4B3BEC1F766</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>select</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require "./notion.rb"
require "yaml"

PROJECT_FNAME = "projects.yml"

if !ENV["reload"] &amp;&amp; File.exists?(PROJECT_FNAME)
  projects = open(PROJECT_FNAME, "r") { |f| YAML.load f }
else
  projects = get_notion_pages({
    sorts: [
      {
	    "property": PROJECT_NAME,
	    "direction": "ascending"
	  }
    ],
  }, PROJECT_ID).map { |p|
    prs = p["properties"]
    {
      id: p["id"],
      title: (prs[PROJECT_NAME]["title"][0]["plain_text"] || ""),
    }
  }
  YAML.dump projects, File.open(PROJECT_FNAME, "w")
end

items = {
  items: projects.map do |p|
    {
      uid: p[:id],
      title: p[:title],
      arg: p[:id]
    }
  end
}
print JSON.dump(items)
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select Project</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C4E5449E-A742-47CB-A3A2-F4E9362AD586</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/hkob/notion-tools-alfred-workflow/master/info.plist'
readonly workflow_url='hkob/notion-tools-alfred-workflow'
readonly download_type='github_release'
readonly frequency_check='1'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  local -r notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  local -r terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>63E046F8-DB94-4C69-AE21-FDCDDA7328FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>anc</string>
				<key>subtext</key>
				<string>text date start_time end_time: date, start_time and end_time are optional</string>
				<key>text</key>
				<string>Add Notion Task and Set Calendar</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D7E27BDA-6347-4198-B311-2BDEB815CE16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>calendar</key>
					<string>true</string>
					<key>input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>88054947-FDE2-476E-BAD7-5A9F9F0BA79C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>calendar</key>
					<string>false</string>
					<key>input</key>
					<string>{query}</string>
					<key>reload</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D574066D-AA28-4A0F-9A28-9B4B22595530</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ObjC.import("stdlib");

function run(argv) {
  if ($.getenv("calendar") == "true") {
    createCalendar(argv)
  }
}

function createCalendar(task_id) {
  let query = $.getenv("input")
  let Calendar = Application("Calendar")
  let cal = $.getenv("NOTION_CALENDAR")
  console.log(cal)

  let notionCal = Calendar.calendars["Notion"]
  var endTimeStr = null
  var startTimeStr = null

  // query を分割
  let words = query.split(" ")
  // 最後のパラメータが時間かどうか
  var timeStr = words.slice(-1)[0]
  if (timeStr &amp;&amp; timeStr.match("[0-9]+:[0-9]+")) {
    endTimeStr = words.pop()
  }
  // 時間が設定されていたら開始時間もあるかどうか調べる
  if (endTimeStr) {
    timeStr = words.slice(-1)[0]
    if (timeStr &amp;&amp; timeStr.match("[0-9]+:[0-9]+")) {
      startTimeStr = words.pop()
    } else {
      startTimeStr = endTimeStr
      endTimeStr = null
    }
  }
  var dateStr = words.slice(-1)[0]
  // 日付が設定されていなければ今日にする
  if (dateStr.match("^[0-9]+/[0-9]+$")) {
    dateStr = new Date().getFullYear() + "/" + words.pop()
  } else if (dateStr.match("^[0-9]+/[0-9]+/[0-9]+$")) {
    dateStr = words.pop()
  } else {
    let timeNow = new Date()
    dateStr = timeNow.getFullYear() + "/" + (timeNow.getMonth() + 1) + "/" + timeNow.getDate()
  }
  // 日付・時間を除いた文字列から summary を作成
  event = {summary: words.join(" ")}
  if (task_id != "") {
    event["description"] = "id:" + task_id
  }
  if (startTimeStr) {
    // 開始時間が設定されていたら時間を含めた日付を設定
    let startTime = new Date(dateStr + " " + startTimeStr)
    var endTime
    if (endTimeStr) {
      // 終了時間が設定されていたら時間を含めた日付を設定
      endTime = new Date(dateStr + " " + endTimeStr)
    } else {
      // 終了時間が設定されていなかったら開始時間の1時間後を設定
      endTime = new Date(dateStr + " " + startTimeStr)
      endTime.setHours(endTime.getHours()+1)
    }
    event["startDate"] = startTime
    event["endDate"] = endTime
    let newEvent = Calendar.Event(event)
    notionCal.events.push(newEvent)
  } else {
    let date = new Date(dateStr)
    event["startDate"] = date
    event["endDate"] = date
    event["alldayEvent"] = true
    let newEvent = Calendar.Event(event)
    notionCal.events.push(newEvent)
  }
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>229C8F99-A31E-4368-A378-81F236AB5DEE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ac</string>
				<key>subtext</key>
				<string>text date start_time end_time: date, start_time and end_time are optional</string>
				<key>text</key>
				<string>Add Calendar Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8ABD91CC-318D-4890-8DCB-DBD6C5146CE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>calendar</key>
					<string>true</string>
					<key>input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D0DA159D-38BC-4FDF-B872-6AF1E7BFE8D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ar</string>
				<key>subtext</key>
				<string>Append finished task to reflection page</string>
				<key>text</key>
				<string>Add Reflection</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C749A559-FC7D-4E9D-9ED0-9D0B0411F3A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "./notion.rb"

# page_id を取得
pages = get_notion_pages({
  filter: {
    and: [
      {
        property: TASK_NAME,
        text: {
          starts_with: REFLECTION_TITLE,
        },
      },
      {
        property: TASK_DATE,
        date: {
          equals: Date.today,
        },
      },
    ],
  },
})
id = pages.first["id"]

# 箇条書きを追加
append_block_children(id, {
  children: [
    {
      object: "block",
      type: "bulleted_list_item",
      bulleted_list_item: {
        text: [
          {
            type: "text",
            text: {
              content: "{query}",
            },
            annotations: {
              bold: false,
              italic: false,
              strikethrough: false,
              underline: false,
              code: false,
              color: "default",
            },
            plain_text: "{query}",
          }
        ],
      }
    }
  ]
})</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC7EF1C8-7C6E-40A5-A92D-745F89931619</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>select</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require "./notion.rb"

args = ENV["args"].split "\t"
task_id, title, max_pomo = args[0..2]
settled = args.length &gt; 3 ? args[3..] : []

pomos = (1..5).map { |x| (1..4).map { |y| "#{x}-#{y}" } }.flatten
STDERR.print "max_pomo = #{max_pomo}, num = #{pomos.index max_pomo}"
if (num = pomos.index max_pomo)
  pomos = [pomos[num..], pomos[0...num]].flatten
end
pomo_list = pomos - settled

items = {
  items: pomo_list.map do |p|
    {
      title: p,
      subtitle: "#{title}: #{settled.join(",")}",
      arg: [task_id, p, settled].flatten
    }
  end
}
print JSON.dump(items)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>select pomodoro</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>974C04C3-7DD4-4D16-9F3B-46AEAB66E62C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require './notion.rb'

filters = [
  {property: TASK_DATE, date: {equals: Date.today}},
  {property: TASK_DONE, checkbox: {equals: false}},
]
filters &lt;&lt; {property: TASK_IS_POMO, checkbox: {equals: true}} unless TASK_IS_POMO.empty?
filters &lt;&lt; {property: TASK_IS_NOT_POMO, checkbox: {equals: false}} unless TASK_IS_NOT_POMO.empty?
             
# page を取得し、利用しやすい Hash に変換
pages = get_notion_pages({
  filter: {
    and: filters
  },
  sorts: [
    {
	  "property": TASK_POMO,
	  "direction": "ascending"
	}
  ],
}).map { |p|
  prs = p["properties"]
  {
    id: p["id"],
    title: (prs[TASK_NAME]["title"][0]["plain_text"] || ""),
    done: (prs[TASK_DONE]["checkbox"]),
    pomos: (prs[TASK_POMO]["multi_select"].map { |ms| ms["name"] }),
  }
}

# 設定されている最後のポモドーロ番号を取得
max_pomo = pages.map { |p| p[:pomos] }.flatten.max

items = {
  items: pages.map do |p|
    {
      # タイトル
      title: p[:title],
      # サブタイトルにポモドーロを描画
      subtitle: p[:pomos].join(", "),
      # 次のモジュールに渡す引数(id, title, 最大ポモ, 設定済ポモ)
      arg: [p[:id], p[:title], max_pomo, p[:pomos]].flatten.join("\t")
    }
  end
}
print JSON.dump(items)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Set pomodoro</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>99BC79F5-A107-4680-9A2F-E97B5EE74552</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "./notion.rb"

id = ARGV[0]
pomos = ARGV[1..].sort

update_page(id, {
  properties: {
    TASK_POMO =&gt; {
      multi_select: pomos.map { |p| {name: p } }
    }
  }
})</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8F5F9393-8DEA-432A-BA7D-E815860CB043</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>args</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FD2BA461-762A-44AC-B66B-577DB58B5C4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "./notion.rb"

id = ARGV[0].split("\t").first

update_page(id, {
  properties: {
    TASK_DONE =&gt; {
      checkbox: true
    }
  }
})</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE5332BA-0034-4B16-B474-A08BE2D470F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  let notion = Application("Notion")
  notion.activate()
  return argv
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A1F544E-EAEB-4064-B190-7670A658E100</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ot</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require './notion.rb'
             
# page を取得し、利用しやすい Hash に変換
pages = get_notion_pages({
  filter: {
    and:
     [
       {property: TASK_DATE, date: {equals: Date.today}},
       {property: TASK_DONE, checkbox: {equals: false}},
     ]
  },
  sorts: [{"property": TASK_POMO, "direction": "ascending"}],
}).map { |p|
  prs = p["properties"]
  {
    id: p["id"],
    url: p["url"],
    title: (prs[TASK_NAME]["title"][0]["plain_text"] || ""),
  }
}

items = {
  items: pages.map do |p|
    {
      # タイトル
      title: p[:title],
      subtitle: "Return to open, Shift+Return to finish",
      # 次のモジュールに渡す引数(id, URL)
      arg: [p[:id], p[:url]].flatten.join("\t")
    }
  end
}
print JSON.dump(items)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Return to open, Shift+Return to finish</string>
				<key>title</key>
				<string>Unfinished today tasks</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FD59D32A-1370-4CCE-B278-FE2F45AE661D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>https</string>
				<key>replacestring</key>
				<string>notion</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>42AFF988-4DA6-4786-99E3-C5EC85080649</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:OPEN_BY_APP}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>open_by_app</string>
						<key>uid</key>
						<string>111C397D-E270-4C4E-8D77-66B8B5F9A492</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open_by_browser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9310A4D8-6A98-45BF-9C3A-7615A6F8F676</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split2}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4913E118-B191-4D22-B13E-A60479260EAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>98D6EF53-6220-4AFA-ABC3-036B991F92E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A1C7AEEB-61E7-4954-B62D-E5504ED9163B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>doit</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require './notion.rb'

filters = [
  {property: TASK_DATE, date: {is_empty: true}},
  {property: TASK_DONE, checkbox: {equals: false}},
]
             
# page を取得し、利用しやすい Hash に変換
pages = get_notion_pages({
  filter: {
    and: filters
  },
  sorts: [
    {
	  "property": TASK_POMO,
	  "direction": "ascending"
	}
  ],
}).map { |p|
  prs = p["properties"]
  {
    id: p["id"],
    title: (prs[TASK_NAME]["title"][0]["plain_text"] || ""),
    pomos: (prs[TASK_POMO]["multi_select"].map { |ms| ms["name"] }),
  }
}

items = {
  items: pages.map do |p|
    {
      # タイトル
      title: p[:title],
      # 次のモジュールに渡す引数(id, title, 最大ポモ, 設定済ポモ)
      arg: [p[:id], p[:title]].flatten.join("\t")
    }
  end
}
print JSON.dump(items)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Do it!</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7240DA87-170B-46B0-AE62-9644EAB45235</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "./notion.rb"

id, _ = ARGV[0].split "\t"

update_page(id, {
  properties: {
    TASK_DATE =&gt; {
      date: {start: Date.today }
    }
  }
})</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E873DFD9-DC70-4FCF-9EBC-489273022A19</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>### Recent update (1.6 -&gt; 1.7)

Add:
  Add doit command to set today to date property 

### Recent update (1.5 -&gt; 1.6)

Bug fix: 
  Fixed the problem that add a refrection item

### Recent update (1.4 -&gt; 1.5)

Bug fix: 
  Fixed the problem that the calendar could not be registered correctly in the format of YYYY / MM / DD.


### 

1. Create task page
  Commands
	an: Add Notion task
	anc: Add Notion task and set Calendar
	ac: Add Calendar

  Usage:
    command task-name
        Create a today task as 'task-name'
    command task-name hh:mm
        Create a today 'task-name' task at 'hh:mm'
    command task-name MM/DD
        Input a 'task-name' task at 'MM/DD'
    command task-name YYYY/MM/DD
        Input a 'task-name' task at 'YYYY/MM/DD'
    command task-name MM/DD hh:mm
        Input a 'task-name' task at 'MM/DD hh:mm
	ac task-name MM/DD h1:m1 h2:m2
        Input a 'task-name' task at 'MM/DD h1:m1 - h2:m2'
    ac task-name YYYY/MM/DD hh:mm
        Input a 'task-name' task at 'YYYY/MM/DD hh:mm
    ac task-name YYYY/MM/DD h1:m1 h2:m2
        Input a 'task-name' task at 'YYYY/MM/DD h1:m1 - h2:m2'

2. Add sentence to a Reflection page
  Usage:
	ar task-name
		Append a finished task to reflection page

3. Set pomodoro
  Usage:
	pn

4. Open an unfinished task by Notion.app or default browser
  Usage:
    ot

5. Finish a task
  Usage:
    command `pn' or `ot' and press shift + return

6. Set today to date property
  Usage:
    doit</string>
	<key>uidata</key>
	<dict>
		<key>109F7B98-1B50-45E9-93AC-8EE2D7A9B307</key>
		<dict>
			<key>note</key>
			<string>force reload project</string>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>179DB1E1-4193-4939-9015-E4B3BEC1F766</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>229C8F99-A31E-4368-A378-81F236AB5DEE</key>
		<dict>
			<key>xpos</key>
			<integer>895</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>42AFF988-4DA6-4786-99E3-C5EC85080649</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>1110</integer>
		</dict>
		<key>4913E118-B191-4D22-B13E-A60479260EAF</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>1125</integer>
		</dict>
		<key>4A1F544E-EAEB-4064-B190-7670A658E100</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>1080</integer>
		</dict>
		<key>63E046F8-DB94-4C69-AE21-FDCDDA7328FA</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>7240DA87-170B-46B0-AE62-9644EAB45235</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>1330</integer>
		</dict>
		<key>88054947-FDE2-476E-BAD7-5A9F9F0BA79C</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>8ABD91CC-318D-4890-8DCB-DBD6C5146CE1</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>8F5F9393-8DEA-432A-BA7D-E815860CB043</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>9310A4D8-6A98-45BF-9C3A-7615A6F8F676</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
		<key>95FAD422-27BE-4B77-8FBD-278BD0127FAD</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>974C04C3-7DD4-4D16-9F3B-46AEAB66E62C</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>98D6EF53-6220-4AFA-ABC3-036B991F92E8</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>1125</integer>
		</dict>
		<key>99BC79F5-A107-4680-9A2F-E97B5EE74552</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>A1C7AEEB-61E7-4954-B62D-E5504ED9163B</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>1205</integer>
		</dict>
		<key>B157274C-527D-4275-AC22-140AF6107B4A</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>C4E5449E-A742-47CB-A3A2-F4E9362AD586</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>C749A559-FC7D-4E9D-9ED0-9D0B0411F3A2</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>CC7EF1C8-7C6E-40A5-A92D-745F89931619</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>D0DA159D-38BC-4FDF-B872-6AF1E7BFE8D3</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>D574066D-AA28-4A0F-9A28-9B4B22595530</key>
		<dict>
			<key>note</key>
			<string>force reload project</string>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>D7E27BDA-6347-4198-B311-2BDEB815CE16</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>DE5332BA-0034-4B16-B474-A08BE2D470F5</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>965</integer>
		</dict>
		<key>E873DFD9-DC70-4FCF-9EBC-489273022A19</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>1330</integer>
		</dict>
		<key>FD2BA461-762A-44AC-B66B-577DB58B5C4C</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>FD59D32A-1370-4CCE-B278-FE2F45AE661D</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>1095</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>MY_NOTION_TOKEN</key>
		<string>secret_oYJ9amxjIt0CstGBmuggjVcExDumFSQ68VPmmLdQMMV</string>
		<key>MY_TZ</key>
		<string>+09:00</string>
		<key>NOTION_CALENDAR</key>
		<string>Notion</string>
		<key>OPEN_BY_APP</key>
		<string>true</string>
		<key>PROJECT_ID</key>
		<string>38bb4bd5b7044d218894657f5b3c0cf8</string>
		<key>PROJECT_LINK_NAME</key>
		<string>Project</string>
		<key>PROJECT_NAME</key>
		<string>name</string>
		<key>REFLECTION_TITLE</key>
		<string>雑務・振り返り</string>
		<key>TASK_DATE</key>
		<string>日付</string>
		<key>TASK_DONE</key>
		<string>Done</string>
		<key>TASK_ID</key>
		<string>2395e3ffb55e4a8abc1ba426243776e3</string>
		<key>TASK_IS_NOT_POMO</key>
		<string>非🍅?</string>
		<key>TASK_IS_POMO</key>
		<string></string>
		<key>TASK_NAME</key>
		<string>タスク名</string>
		<key>TASK_POMO</key>
		<string>🍅</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>TASK_ID</string>
		<string>MY_NOTION_TOKEN</string>
		<string>PROJECT_ID</string>
	</array>
	<key>version</key>
	<string>1.7</string>
	<key>webaddress</key>
	<string>https://hkob.hatenablog.com/</string>
</dict>
</plist>
